@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,500;0,600;1,100&display=swap");

@import url("./themes.css");

body,
html {
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  /* overflow-x: hidden;
  overflow-y: auto; */
}

/*
--------------- 
Scrollbar
---------------
*/

/* https://www.digitalocean.com/community/tutorials/css-scrollbars */
/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--primary-color) var(--primary-color-lighter);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: var(--primary-color-lighter);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 30px;
}

/*
--------------- 
Fav button
---------------
*/
.fav-button {
  position: fixed;
  bottom: 100px;
  right: 25px;
  width: 40px;
  height: 40px;
}

.fav-button > button {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  font-size: 40px;
  color: var(--primary-color);
  /* todo box shadow */
}

.fav-button > button:hover {
  -webkit-animation: rotate-center 1s ease-in-out forwards;
  animation: rotate-center 1s ease-in-out forwards;
  color: var(--primary-color-lighter);
}

/*
--------------- 
Navbar
---------------
*/

.navbar-brand{
  margin-right: 16px !important;
}

.navbar-brand > img {
  width: 100px;
}

.nav-icons{
  flex-direction: row !important;
  column-gap: 5px;
}

/*
--------------- 
Toggle
---------------
*/

.toggle-wrapper{
  width:60px;
  height:50px;
  position: relative;
  order:1;
}

.toggle {
  position: absolute;
  margin:0 0 0 16px;
  width: 40px;
  height: 20px;
  background: purple;
  border-radius: 20px;
  
}

.toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle .slider {
  position: relative;
  left: -8px;
  cursor: pointer;
  width: 28px !important;
  height: 28px !important;
  background: red;
  border-radius: 20px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  text-align: center;
  vertical-align: middle;
  line-height: 28px;
  color: white;
}

.slider::before {  
  height: 28px;
  width: 28px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

/* input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
} */

input:checked + .slider {
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(15px);
}
/*
--------------- 
/Toggle
---------------
*/

/*
--------------- 
/Navbar
---------------
*/

/*
--------------- 
Content
---------------
*/

.container {
  padding: 0 !important;
 
  height: 92%;
  overflow-y: auto;
  overflow-x: hidden
}

p {
  text-align: justify;
}

section {
  margin: 16px auto;
}

.slide-right {
  -webkit-animation: slide-right 1s ease-out both;
  animation: slide-right 1s ease-out both;
}

/*
--------------- 
Skills
---------------
*/

#skills h2 {
  margin-bottom: 24px;
}

#skills i {
  font-size: 50px;
  text-align: center;
}

#skills > .row > .col > div:first-child {
  display: inline-block;
}
#skills > .row > .col {
  text-align: center;
  margin-bottom: 16px;
}

#skills > .row > .col:hover {
  background: var(--light);
  transform: scale(1.1);
  /* z-index:2; */
}

.skill-wrapper > div:first-child {
  display: inline-block;
}

#skills .description {
  margin-top: 16px;
}

#skills .skill-level {
  width: 15px;
  height: 15px;
  background: var(--primary-color-lighter);
  margin: 5px;
  border-radius: 50%;
  display: inline-block;
}

.checked {
  background: var(--primary-color) !important;
}

/*
--------------- 
Projects
---------------
*/

.projects-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap:16px;
}

#projects .card {
  width: 100%;
}

#projects .card-text {
  height: 150px;
  overflow: hidden;
}

#projects h5 {
  text-align: center;
  padding: 8px;
  margin: 0;
}

#projects button {
  background: transparent;
  border: 0;
  padding: 1px;
  border-bottom: 1px solid;
  float: right;
  outline: none;
}

.more-text {
  overflow: visible !important;
  height: fit-content !important;
}

/*
--------------- 
/Content
---------------
*/

/*
--------------- 
Footer
---------------
*/

footer {  
  background: var(--primary-color); 
  padding: 8px 16px;
}

/*
--------------- 
/Footer
---------------
*/

/*
--------------- 
Keyframes
---------------
*/

/* ----------------------------------------------
 * Generated by Animista on 2021-5-15 2:48:43
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation rotate-center
 * ----------------------------------------
 */
@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes slide-right {
  0% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

/*
--------------- 
/Keyframes
---------------
*/

/*
--------------- 
Media
---------------
*/

/*
--------------- 
Mobile
---------------
*/
@media only screen and (max-width:767px) {
  .fav-button {
    visibility: hidden;
  }

  .container {
    padding: 16px !important;
  }

  /* .navbar{
    flex-wrap: nowrap !important;
  } */

  .toggle{
    order:0 !important;
  }

  .navbar-brand{
margin:auto;
  }
}

/*
--------------- 
/Mobile
---------------
*/

/*
--------------- 
/Media
---------------
*/
