.theme-light {
  --primary-color-lighter: #ADA8DE;
  --primary-color: #7677BA;
  --primary-color-darkest:#565692;
  --accent-color-lightest:#f0e2f5;
  --accent-color:#BD9BCE;

  --text-color:#444;
}

.theme-dark {
  --primary-color-lighter: lightblue;
  --primary-color: blue;
}
